	/*BASE*/
body{
	background-image: url("../img/base.png");	
}

	/*WRAPPER*/
.wrapper{
	position: relative;
	width: 1000px;
	margin: auto;
	box-shadow: 0 2px 7px #000000;
	background-color: #ffffff;
}	

	/*HEADER*/
.header{
	padding: 0 20px 0;
}	
	
.contacts_and_buttons{
	float: right;
	display: block;
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-bottom: 13px;
}

.contacts{
	width: 400px;
	margin-bottom: 16px;
	color: #41a1b9;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	font-family: Tahoma;
}

.our_contacts{
	padding-right: 25px;
	font-weight: 600;
	line-height: 30px;
}

.our_contacts_tel{
	padding-right: 25px;
}

.buttons{
	text-align: right;
}

.countries{
	color: #128aa7; 
}

.buttons li{
	display:inline-block;
	margin-right: 5px;
	color: #41a1b9;
	font-size: 10px;
	font-family: Tahoma;
	text-align: center;
} 

.logo{
	float: left;
	display: block;
	position: absolute;
	top: 15px;
	margin-right: auto;
	z-index: 1;
}

.logo_text{
	position: absolute;
	top: 100px;
	left: 60px;
	color: #41a1b9;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: 600;
}
	
	/*MAIN PICTURE*/
.main_picture{
	width: 1000px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	clear: both;
}	

	/*MENU*/
.menu{
	width: 1000px;
    margin-top: -2px;
    padding: 0;
    list-style: none;
	box-shadow: 0 2px 6px #000000;
    background: #323232;
	text-align: center;
	font-family: Tahoma;
}

.menu:after{
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.menu li{
    float: left;
    position: relative;
	width: 142px;
}
.menu li a{
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
	font-size: 14px;
	font-family: Tahoma;
}

.submenu{
    display: none;
    position: absolute;
    width: 142px;
    top: 35px;
    left: 22px;
    background-color: #303030;
    border-top: 1px solid #000000;
}
.submenu li{
    display: block;
}
.submenu li a{
    display: block;
    padding: 10px;
    color: #ffffff;
    background-color: #303030;
    text-decoration: none;
	
	text-align: left;
}

.menu li:hover ul.submenu{
    display: block;
}

	/*TRIANGLES*/
.triangle_1::after{
	content: ''; 
	position: absolute;
	right: 15px; 
	top: 16px;
	border: 4px solid transparent; 
	border-top: 8px solid #fff; 
}
	
.triangle_2::after{
	content: ''; 
	position: absolute;
	right: 35px; 
	top: 16px;
	border: 4px solid transparent; 
	border-top: 8px solid #fff; 
}

.triangle_3::after{
	content: ''; 
	position: absolute;
	right: 20px; 
	top: 16px;
	border: 4px solid transparent; 
	border-top: 8px solid #fff; 
}

	/*COLUMNS*/
.fon{
	width: 1000px;
	overflow: hidden;
}

.left_column,
.right_column{
	float: left;
	width: 200px;
	padding-top: 15px;
	padding-bottom: 2015px;
	margin-bottom: -2000px;
	margin-top: 5px;
	background: #edeef0;
	color: #424c43;
	font-size: 14px;
	font-family: Tahoma;
	text-align: center;
	line-height: 25px;
}

.center_column{
	float: left;
	width: 600px;
	padding-bottom: 2015px;
	margin-bottom: -2000px;
	margin-top: 5px;
	background: #ffffff;
	line-height: 25px;
}

h1{
	color: #424c43;
	font-weight: 600;
	font-size: 18px;
	font-family: Tahoma;
	text-align: center;
}

	/*FOOTER*/
.footer{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
}
	

